/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#container {
  max-width: 45em;
  margin: 0 auto;
  }

html {
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global */

html {
  background: #fff;
}

body {
  font-family: Open Sans, sans-serif;
  font-weight: lighter;  
  line-height: 1.5;
  max-width: 90em;
  margin: auto;
  text-decoration: none;
}

img {
  display: block;
  margin: auto;
  width: 85%;
}

h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1em;
  text-align: left;
  max-width: 66%;
  padding: 0 1em;
}

h2 {
  font-weight: lighter;  
  font-style: italic; 
  color: black;
  text-align: right;
  padding: 0 1em;
}

h3 {
  font-weight: lighter; 
  color: #006638; 
  font-size: 5em;
  text-align: center;
  padding: 0 1em;
  text-transform: uppercase;  
  letter-spacing: 1px;
  text-decoration: none;
}

h4 {
  font-weight: lighter;  
  text-align: center;
  color: #606060;
  padding: 0 3em;
  margin: 0 5% 3em 5%;
}

h5 {
  font-weight: lighter; 
  color: #006638; 
  font-size: 3em;
  text-align: center;
  padding: 0 1em;
  text-transform: uppercase;  
  text-decoration: none;
}

h6 {
  font-style: italic; 
  color: #606060;
  text-align: center;
  padding: 0 7em;
  text-decoration: none;
}

blockquote {
  font-weight: bold;  
  font-style: italic; 
  color: #606060;
  padding: 0 7em;
}

form {
  font-weight: bold;  
  text-align: left;
  padding: 0 7em;
}


/* Page Header */

.page-header {
  background-color: #59AA47;
  color: #fff;
  top: 0;
  left:0;
  width: 100%;
  text-align: left;
  overflow: auto;
  z-index: 100;
}

.page-header img{
  float: left;
  width: 33%;
  margin: 2em 4em;
}

.left-search {
  float: right;
  margin: 5em 5em 0em 0em;
}

/* Main */

.main-nav {
  background-color: #fff;
  color: #888;
  margin: 0.625em 3em;
}

.main-nav a {
  color: #888; 
  font-size: 1.5em;
  font-weight: bold;  
  text-decoration: none;
}

.main-nav ul {
  list-style-type: none;
  padding: 0.625em;
  text-align: right;
}

.main-nav li {
  display: inline-block;
  padding: 0 0.625em;
}

.main-nav a:hover {
  color: #F37129;
}

li.dropdown {
  display: inline-block;
}

.dropdownlist {
  background-color: #006638;
  display: none;
  min-width: 120px;
  position: absolute;
}

.dropdownlist a {
  color: #fff;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 0.5em;
}

  .dropdownlist a:hover {
    color: #F37129;
  }

  .dropdown:hover .dropdownlist {
      display: block;

  }
.main-article h3 {
  text-align: center;
  text-decoration: none;
}

.main-article p {
  padding: 0 6em;
  text-align: left;
  text-decoration: none;
}

.main-article li {
  padding: 0 6em;
  text-align: left;
}

.school {
  position: relative;
  width: 50%;
  float: left;
  padding: 1em;
  text-align: center;
}

.clearfix a {
  font-size: .75em;
  color: #000;
}

.school:hover a h6 {
  background-color: #333;
  text-decoration: none;
}

.school img {
  position: relative;
  z-index: -10;
  width: 75%;
  text-align: center;
}

.form {
  text-align: center;
}

/* Call to Action section */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* pressible buttons! */

.button {
    background-color: #59AA47;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Footer */

.page-footer {
  background-color: #59AA47;
  color: #fff;
  top: 0;
  left:0;
  width: 100%;
  overflow: auto;
  z-index: 100;
  font-family: Open Sans, sans-serif;
  font-size: .75em;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
}
  
.footer-logo img{
  float: left;
  width: 25%;
  padding: 1em 1em 0 0;
  margin: 2em 3em;
}

.footer-social{
  text-align: right;
  padding: 1em;
  margin: 2em 3em;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.page-footer p{
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-align: right;
  margin: 0em 3em;
}

.footer-content {
  float: right;
  width: 25%;
  text-align: right;
  padding: 1em 1em 0 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
